/*{
width:100%;
height: 110px;
z-index:101;
background: darkgray;
font-size:23px;
font-family:Times New Roman, Times, Serif;
text-align: center;
margin top:-8px
}
*/

.bloquetitulo{
	font-size: 40px;
	letter: spacing 1px;
	margin: 0%;
	padding-top: 50px;
	text-align: center;
	font-family: Georgia, 'Times New Roman', Times, serif;
	color: black;
	}

	
		
.parrafotitilo4{
letter: spacing 1px; ;
font-family: cursive;
color: black;
margin: -30px;
text-align: center;
font-size: 25px;
padding-bottom: 35px;
}

.pilardelaexplraciondelmedio{
padding: 55px;
}



.menu ul{
	padding: 0;
	margin: 0;
	list-style:none;
	display: inline-flex;
	}
	
	.menu li{
	padding-top: 15px;
	padding-left: 30px;
	}
	
	
	.menu li a{
	display: block;
	padding: 15px;
	text-decoration: none;
	color: black;
	}
	
	.menu{
	margin-top: 18px;
	}
	
	
	.menu-portada{
	width:100% ;
	height: 600px;
	margin: auto;
	padding: 0;
	list-style: none;
	display: flex;
	
	}

h1{
background:violet;
}



body{
background-color:green;
text-align: center;
}



p{
background: chocolate;
}